body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* gap: 100px; */
    height: 100vh;;
}

h1, h2, h3 {
    margin: 0;
}

.about .image {
    width: 400px;
}

.info .image{
    width: 150px;
    height: 150px;
    border-radius: 5%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

ul {
    display: flex;
    list-style: none;
    gap: 10px;
    margin: 0;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-text-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.image-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    align-self: stretch;
}

.author {
    text-align: right;
    margin-top: 0px;
    margin-bottom: 0px;
}

p {
    margin: 0;
}


body .info, body .sign-up-container, body .quote {
    padding-top: 20px;
    padding-bottom: 20px;
}

.sign-up-window {
    padding: 5% 10%;
    margin: 3% 8%;
    max-height: 100px;
}

* {
    outline: 1px solid black
}